@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


// Fonts
$logo-font: 'Righteous', cursive;
$text-font: 'Roboto Flex', sans-serif;

// Colors
$red-text: #C52525;
$background-color: #F6F3F3;